<form>
    <div class="col-auto">
        <label for="staticEmail2" class="visually-hidden">Email</label>
        <input type="text" [(ngModel)]="email" class="form-control" name="staticEmail2" id="staticEmail2" placeholder="Email">
    </div>
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" name="inputPassword2" id="inputPassword2" placeholder="Password">
    </div>
    <div class="col-auto">
        <button type="submit" (click)="submit()" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
</form>
<div *ngIf="userdetails">
    <h1>UserDetails</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{userdetails.email}}</td>
                <td>{{userdetails.address}}</td>
                <td>{{userdetails.city}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!isValidUser">
    Not a valid user
</div>